{% extends 'login/base.html.twig' %}

{% block title %}2fa Ready{% endblock %}

{% block page_title %}2FA Configured Correctly{% endblock %}

{% block section %}
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
            <div>
                <p class="w-full flex justify-center cancel"><a
                        href="{{ url('homepage') }}">BACK TO ADMIN</a></p>
            </div>
        </div>
    </div>
{% endblock %}