{% extends 'login/base.html.twig' %}

{% block title %}Choose new password{% endblock %}

{% block page_title %}Choose New Password{% endblock %}


{% block section %}
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
            <p class="pb-4">
                You can now choose a new password. Please make it as secure as possible.
            </p>
            <div>
                {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword) }}

                <button
                    class="w-full flex justify-center mt-2 py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Set New Passowrd
                </button>

                {{ form_end(resetForm) }}
            </div>
        </div>
    </div>

{% endblock %}