{% extends 'login/base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block page_title %}Password Reset Email Sent{% endblock %}

{% block section %}
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
            <p class="pb-4">
                If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
                This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <p>If you don't receive an email please check your spam folder or <a href="{{ path('login_reset_password_request') }}">try again</a>.</p>
        </div>
    </div>

{% endblock %}
