{% extends 'base.html.twig' %}

{% block body %}
    <div class="w-full pt-10">
        <h1 class="text-4xl text-center w-full">Welcome, you are logged in</h1>

        <div class="bg-white max-w-3xl mx-auto w-full p-12 mt-24">
            <ul>
                <li class="py-2">
                    <a href="{{ url('profile_2fa_enable') }}" class="text-xl hover:text-blue-700">Enable 2FA</a>
                </li>
                <li class="py-2">
                    <a href="{{ url('logout') }}" class="text-xl hover:text-blue-700">Logout</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}